*
{
    box-sizing: border-box;
}
body
{

}
h1
{
    font-size: medium;
    font-weight: 400;
}
h2
{
    font-weight: 300;
}
h3
{
    font-weight: 200;
}
p
{
    font-size: 1em;
    font-weight: lighter;
}
/******************* classes *****************/
.left
{
    float: left;
}
.right
{
    float: right;
}
.showLink
{
    display: block;
}
.more
{
    display: none;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}
a.showLink, a.hideLink
{
    text-decoration: none;
    color: #36f;
    padding-left: 0.8em;
}
a.hideLink
{
    background-color: azure;
}
a.showLink:hover, a.hideLink:hover
{
    background-color: azure;
}

/******************* main sections *****************/
header
{
    border: 1px solid;
    width: 100vw;
    min-height: 5em;
}
main
{
    border: 1px solid;
    width: 100vw;
}
aside
{
    border: 1px solid;
    width: 100vw;
    min-height: 10em;
}
section
{
    border: 1px solid;
    width: 100vw;
    height: auto;
}
footer
{
    border: 1px solid;
    width: 100vw;
    min-height: 5em;
}
nav
{
    width: 100%;
    display: block;
    position: relative;
    cursor: pointer;
}
nav ul
{
    width: 100%;
    list-style: none;
}
nav ul li
{
    padding: 1em;
}
nav ul li a
{
    text-decoration: none;

}
nav ul ul
{
    position: absolute;
    display: none;
}
nav ul li ul li
{
    /*position: absolute;
    display: none;*/
    padding: 1em;
}
nav ul li ul li a
{
    text-decoration: none;

}
nav ul li:hover > ul
{
    background-color: azure;
    display: block;
}
.show
{
    display:block;
}
/********************* table **************************/
table
{
    font-size: 0.8em;
}
tr:nth-child(even)
{
    background-color: azure;
}

/********************* STYLING FOR MIN-WIDTH 600 PIXELS **************************/

@media (min-width:600px){
    body
    {
        font-family: "Arial Rounded MT Bold", cursive;
    }
    h1
    {
        font-size: medium;
        font-weight: 400;
    }
    h2
    {
        font-weight: 300;
    }
    h3
    {
        font-weight: 200;
    }
    p
    {
        font-size: 1em;
        font-weight: lighter;
    }
    header
    {
        border: 1px solid;
        width: 100vw;
        min-height: 5em;
    }
    main
    {
        border: 1px solid;
        width: 100vw;
        display: grid;

        grid-template-columns: 1fr 2fr;
        grid-template-areas:

                "as sect"
                "as sect"
                "ft ft"
    }


    aside
    {
        grid-area: as;
        border: 1px solid;
        width: 23vw;
        float: left;
    }
    section
    {
        grid-area: sect;
        border: 1px solid;
        width: 76vw;


    }

    .info{

        width: 60%;
        height: 40%;

        /*    background-color: red;*/
        margin: auto;

        /*    border: 3px solid black;*/
        padding: 60px;
    }
    .left{
        float: left;
    }
    .right{
        float: right;
    }
    .next {

        margin: 10px;
        width: 80px;
        height: 20px;


    }
    .previous{

        margin: 10px;
        width: 80px;
        height: 20px;

    }
    button{
        background-color: blue;
        color:white;


    }
    footer
    {
        grid-area: ft;
        border: 1px solid;
        width: 100vw;

    }
    nav
    {
        width: 100%;
        display: block;
        position: relative;
        cursor: pointer;
    }
    nav ul
    {
        width: 100%;
        list-style: none;
    }
    nav ul li
    {
        padding: 1em;
    }
    nav ul li a
    {
        text-decoration: none;

    }
    nav ul li ul li
    {
        /*position: absolute;
        display: none;*/
        padding: 1em;
    }
    nav ul li ul li a
    {
        text-decoration: none;

    }
    nav ul li ul li a:hover
    {
        background-color: azure;
    }
    .show
    {
        display:block;
    }
}

/************************** STYLING FOR MIN-WIDTH 1024 **************************/

@media (min-width:1024px){
    * {
        box-sizing: border-box;
    }
    body
    {
        font-family: "Arial Rounded MT Bold", cursive;


    }
    h1
    {
        font-size: medium;
        font-weight: 400;
    }
    h2
    {
        font-weight: 300;
    }
    h3
    {
        font-weight: 200;
    }
    p
    {
        font-size: 1em;
        font-weight: lighter;
    }
    header
    {
        border: 1px solid;
        width: 100vw;
        min-height: 5em;
    }
    main
    {
        border: 1px solid;
        width: 100vw;
        display: grid;

        grid-template-columns: 1fr 2fr 2fr ;
        grid-template-areas:

                "as sect sect"
                "as sect sect "
                "ft ft ft"
    }


aside
{
    grid-area: as;
    border: 1px solid;
    width: 30vw;
    float: left;
}
section
{
    grid-area: sect;
    border: 1px solid;
    width: 70vw;


}

.info{
    width: 80%;
    height: 60%;

     /* background-color: red;*/
    margin: auto;

    /* border: 3px solid black;*/
    padding: 10px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.next {

    margin: 10px;
    width: 80px;
    height: 20px;


}
.previous{

    margin: 10px;
    width: 80px;
    height: 20px;

}
button{
    background-color: blue;
    color:white;
}
footer
{
    grid-area: ft;
    border: 1px solid;
    width: 100vw;

}
nav
{
    width: 100%;
    display: block;
    position: relative;
    cursor: pointer;
}
nav ul
{
    width: 100%;
    list-style: none;
}
nav ul li
{
    padding: 1em;
}
nav ul li a
{
    text-decoration: none;

}
nav ul li ul li
{
   /* position: absolute;
    display: none;*/
    padding: 1em;
}
nav ul li ul li a
{
    text-decoration: none;

}
nav ul li ul li a:hover
{
    background-color: azure;
}
.show
{
    display:block;
}
}